<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notities - Toevoegen</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <nav>
        <a href="overzicht.html">Home</a>
        <a href="addnote.html">Note Toevoegen</a>
        <a href="detailsnote.html">Note Details</a>
        <a class="rightNav" href="signup.html">Sign Up</a>
        <a class="rightNav" href="inlog.html">Inlog</a>
    </nav>
    <main>
        <div class="NieuweNotitieDiv">
            <h1>Nieuwe Notitie</h1>
            <form action="#" method="get" id="signupform">
                <label for="titel">Titel:</label>
                <input type="text" id="titel" name="titel">

                <label for="categorie">Categorie:</label>
                <input type="text" id="categorie" name="categorie">

                <label for="notitie">Notitie:</label>
                <textarea id="notitie" name="notitie" rows="4" cols="22">
                </textarea>


                <button type="submit" form="signupform" value="Submit">Opslaan</button>
            </form>
        </div>
    </main>
</body>
</html>