<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notities - Details</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <nav>
        <a href="overzicht.html">Home</a>
        <a href="addnote.html">Note Toevoegen</a>
        <a href="detailsnote.html">Note Details</a>
        <a class="rightNav" href="signup.html">Sign Up</a>
        <a class="rightNav" href="inlog.html">Inlog</a>
    </nav>
    <main>
        <div class="NotitieDetailsDiv">
            <h1>Notitie</h1>
            <form action="#" method="get" id="details">
                <select name="notities" id="notities">
                    <option value="note1">Note 1</option>
                    <option value="note2">Note 2</option>
                    <option value="note3">Note 3</option>
                    <option value="note4">Note 4</option>
                </select>

                <button type="submit" form="details" value="Submit">Vraag genereren</button>

                <h2>Vraag:</h2>
                <textarea cols="26">Zet hier wat neer</textarea>
            </form>
        </div>
    </main>
</body>
</html>