<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notities - Inlog</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <nav>
        <a href="overzicht.html">Home</a>
        <a href="addnote.html">Note Toevoegen</a>
        <a href="detailsnote.html">Note Details</a>
        <a class="rightNav" href="signup.html">Sign Up</a>
        <a class="rightNav" href="inlog.html">Inlog</a>
    </nav>
    <main>
        <div class="LoginDiv">
            <h1>Login</h1>
            <form action="#" method="get" id="loginform">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username">

                <label for="wachtwoord">Wachtwoord:</label>
                <input type="password" id="wachtwoord" name="wachtwoord"> 

                <button type="submit" form="loginform" value="Submit">Login</button>
            </form>
        </div>
    </main>
    <footer>

    </footer>
</body>
</html>